body {
    --yellow: #f0eeb1;
    --yellow-white: #eeedd2;
    --off-white: #ecece0;
    --purple-gray: #272529;
    --desaturated-purple: #3c3347;
    --cobalt-blue: #17143b;
}

.welcome-section {
    background-color:var(--purple-gray);
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-text {
    color: var(--off-white);
    margin: 0px 10%;
}

.about-text > h1 {
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    color: var(--yellow);

}

