body {
    --yellow: #f0eeb1;
    --yellow-white: #eeedd2;
    --off-white: #ecece0;
    --purple-gray: #272529;
    --desaturated-purple: #3c3347;
    --cobalt-blue: #17143b;
    --off-black: #161516;
}

nav{
    padding: 200px;
    padding-top: 0px;
    height: 20px;
    margin: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .parallax {
    background-image: url("../media/team5/2.jpg");
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.info-header {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    text-align: center;
    margin: 70px;
    padding: 80px;
    background-color: var(--off-black);
    color: var(--yellow);

}
