nav{
    padding: 200px;
    padding-top: 0px;
    height: 20px;
    margin: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
 }