nav{
  padding: 200px;
  padding-top: 0px;
  height: 300px;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    background-image: url("../media/team5/man-posing-dressed-as-an-astronaut-in-skyrocket-el-2022-12-16-22-02-36-utc.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parallax-middle {
    background-image: url("../media/team5/man-posing-dressed-as-an-astronaut-in-skyrocket-el-2022-12-16-22-02-36-utc.jpg");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parallax h1{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 18px 3px;
    margin: 0px 30%;
    bottom:10px;
    font-size: 45px;
    background-color: var(--desaturated-purple);
}
.parallax h6{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 18px 3px;
  margin: 0px 30%;
  bottom:30px;
}
 .parallax-middle h1{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5px 0px;
    margin: 0px 41%;
    top:150px;
    background-color: rgba(228, 233, 175, 0.301);
}

.popup {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}







/*codepen*/

.list-box{
  display: flex;
  justify-content: center;
}

.list {
    width:1000px;
    height: 1300px;
    padding: 20px 30px;
    box-sizing:content-box;
    transition-duration: .5s;
    list-style-type: none;
    position:relative;
    justify-content: center;
}
  
.item {
    border-radius: 10px;
    background-color: var(--desaturated-purple);
    height: 70px;
    margin: 10px 70px;
  }
  .item p {
    padding: 20px;
    color: var(--off-white);
  }
  
.list:not(.animate) .item {
    transition-duration: .5s;
    transition-property: transform, visibility;
    transform: translateX(-20%);
    visibility: hidden;
    opacity: 0;
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 {
    margin: 50px;

  }
  
.list.animate .item1 {
    animation: list-show .2s 1;
  }
.list.animate .item2 {
    animation: list-show .4s 1;
  }
.list.animate .item3 {
    animation: list-show .6s 1;
  }
.list.animate .item4 {
    animation: list-show .8s 1;
  }
  .list.animate .item5 {
    animation: list-show .8s 1;
  }
.list.animate .item6 {
    animation: list-show .8s 1;
  }
.list.animate .item7 {
    animation: list-show .8s 1;
  }
.list.animate .item8 {
    animation: list-show .8s 1;
  }
.list.animate .item9 {
    animation: list-show .8s 1;
  }
.list.animate .item10 {
    animation: list-show .8s 1;
  }
  
/* youtube */
.containter{
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup{
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(228, 233, 175, 0.301)
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: var(--desaturated-purple);
  color: var(--off-white);
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(228, 233, 175, 0.301)
}