nav{
    padding: 200px;
    padding-top: 0px;
    height: 300px;
    margin: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax {
      background-image: url("../media/team5/man-posing-dressed-as-an-astronaut-in-skyrocket-el-2022-12-16-22-02-36-utc.jpg");
      min-height: 300px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
  }
  .parallax-middle {
      background-image: url("../media/team5/man-posing-dressed-as-an-astronaut-in-skyrocket-el-2022-12-16-22-02-36-utc.jpg");
      min-height: 100px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
  }
  .parallax h1{
      display: flex;
      justify-content: center;
      position: relative;
      padding: 18px 3px;
      margin: 0px 30%;
      bottom:10px;
      font-size: 45px;
      background-color: var(--desaturated-purple);
  }
  .parallax h6{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 18px 3px;
    margin: 0px 30%;
    bottom:30px;
  }
   .parallax-middle h1{
      display: flex;
      justify-content: center;
      position: relative;
      padding: 5px 0px;
      margin: 0px 41%;
      top:150px;
      background-color: rgba(228, 233, 175, 0.301);
  }
  
  .popup {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  
  
  
  
  
  
  /*codepen*/
  
  .list-box{
    display: flex;
    justify-content: center;
  }
  
  .list {
      width:1000px;
      height: 1300px;
      padding: 20px 30px;
      box-sizing:content-box;
      transition-duration: .5s;
      list-style-type: none;
      position:relative;
      justify-content: center;
  }
    
  .item {
      border-radius: 10px;
      background-color: var(--desaturated-purple);
      height: 70px;
      margin: 10px 70px;
    }
    .item p {
      padding: 20px;
      color: var(--off-white);
    }
    
  .list:not(.animate) .item {
      transition-duration: .5s;
      transition-property: transform, visibility;
      transform: translateX(-20%);
      visibility: hidden;
      opacity: 0;
    }
  
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 {
      margin: 50px;
  
    }
    
  .list.animate .item1 {
      animation: list-show .2s 1;
    }
  .list.animate .item2 {
      animation: list-show .4s 1;
    }
  .list.animate .item3 {
      animation: list-show .6s 1;
    }
  .list.animate .item4 {
      animation: list-show .8s 1;
    }
    .list.animate .item5 {
      animation: list-show .8s 1;
    }
  .list.animate .item6 {
      animation: list-show .8s 1;
    }
  .list.animate .item7 {
      animation: list-show .8s 1;
    }
  .list.animate .item8 {
      animation: list-show .8s 1;
    }
  .list.animate .item9 {
      animation: list-show .8s 1;
    }
  .list.animate .item10 {
      animation: list-show .8s 1;
    }
    
  /* w3schools */
  @keyframes list-show {
        from {
            visibility: hidden;
            opacity: 0;
            transform: translateX(20%);
        }
        to {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
  
    .popup {
      color: var(--off-white);
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* The actual popup */
    /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Popup content */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
  }
  
  /* Show the popup text when the user clicks on the container */
  .popup.show .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Fade in animation */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }
    
    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;} 
      to {opacity: 1;}
    }
    
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }