body {
    --yellow: #f0eeb1;
    --yellow-white: #eeedd2;
    --off-white: #ecece0;
    --purple-gray: #272529;
    --desaturated-purple: #3c3347;
    --cobalt-blue: #17143b;
}


.hero-section {
    background-image: url(../media/team5/5.jpg);
    padding: 100px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: var(--desaturated-purple);
    color:  var(--yellow-white);
    width: 290px;
    border-radius: 2px;
    font-family: 'Space Mono', monospace;
}

.hero-section > .bottom-heading {
    background-color: var(--cobalt-blue);
    color: var(--yellow-white);
    padding: 1px 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;
    font-family: 'Golos Text', sans-serif;
}
