nav{
  padding: 20px;
  padding-top: 0px;
  height: 30px;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.sources-wrapper{
  display: flex;
  margin-top: -70px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.sources-wrapper h1 {
  margin-bottom: 10px;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sources-wrapper .list {

  list-style: none;
  font-size: 24px;
}

.sources-wrapper .item {
  padding: 15px;
  position: relative;
  transition: color .5s .4s;
  z-index: 2;
  color: #f7f7f7;
  cursor: pointer;
  display: flex;
  justify-content: last baseline;
}

.sources-wrapper .item:not(:last-child) {
  margin-bottom: 10px;
}

.sources-wrapper .item::before {
  text-decoration: none;
  content: '';
  height: 100%;
  width: 5px;
  background-color: rgba(142, 74, 219, 0.3);
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform .2s ease-in,
              width .3s ease-in .3s;
  z-index: -1;
}

.sources-wrapper .item:hover::before, .item--active::before {
  text-decoration: none;
  transform: scaleY(1);
  width: 100%;
}
